# ctags
/tags

# added by a vscode user
.vscode/

# added by Sam Murphy (2017-06-22)
files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
